.footer {
  background-color: #00394b;
  padding: 70px 0px 0px 0;
  color: white;
}

.footer .container {
  padding: 0;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.neo {
  width: 350px;
  text-align: center;
}
.neo img {
  margin-bottom: 20px;
  cursor: pointer;
}

.sotsial {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

.sotsial li {
  display: flex;
  align-items: center;
  transition: all 0.1s ease-in-out;
}

.sotsial li:hover {
  opacity: 0.5;
}

.sotsial li:nth-child(2) {
  margin-top: 15px;
}

.sotsial li img {
  padding: 8px;
  border: 2px solid white;
  border-radius: 50%;
  margin-right: 15px;
}

.sotsial li a {
  color: white;
  text-decoration: none;
}

.mesto {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.mesto h5 {
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
}

.mesto_inline p:nth-child(2) {
  margin-top: 20px;
}

.footer__bottom {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  // background-color: #1e1e1e;
  padding: 15px 0;
  color: white;
  border-top: 2px solid white;
}

.footer__bottom .container {
  padding: 0;
}

.footer__bottom p a {
  color: white;
}

@media only screen and (max-width: 1000px) {
  .footer .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .neo {
    margin-bottom: 50px;
  }

  .sotsial {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 500px) {
  .footer__bottom p {
    font-size: 10px;
  }

  .neo {
    width: 300px;
  }

  .mesto {
    width: 300px;
  }
}
